@font-face {
  font-family: 'Source Serif';
  src: local('Source Serif'), local('Source Serif Pro'),
    url('/fonts/source-serif-4-latin-400-normal.woff2') format('woff2'),
    url('/fonts/source-serif-4-latin-400-normal.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  src: local('Source Sans'), local('Source Sans Pro'),
    url('/fonts/source-sans-3-latin-400-normal.woff2') format('woff2'),
    url('/fonts/source-sans-3-latin-400-normal.woff') format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'),
    url('/fonts/source-code-pro-latin-400-normal.woff2') format('woff2'),
    url('/fonts/source-code-pro-latin-400-normal.woff') format('woff');
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Source Serif', serif;
  line-height: normal;
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Serif', serif;
}

.site-title {
  padding: 0.5rem 0 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

nav {
  padding: 0.5rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav > a {
  padding: 0 0.5rem;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.075em;
}
nav > a:hover, nav > a:focus {
  text-decoration: underline 1px;
}

main {
  flex: 1 0 auto;
  padding: 1rem;
}

a.post-card {
  display: block;
  color: black;
  text-decoration: none;
}

.post-card-title {
  padding-bottom: 0.3rem;
  font-size: 1.2rem;
}

.post-title {
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
}

footer {
  flex-shrink: 0;
  padding: 1rem;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8rem;
}
