<!doctype html>
<html lang="en">
  
  <head>
  
    <title>The Byterium Blog</title>

    <base href="{{baseUrl}}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Documenting my journey into data engineering">
    <meta name="author" content="Joe Kriefall">

    <link rel="stylesheet" href="css/modern-normalize.css">
    <link rel="stylesheet" href="css/highlightjs.css">
    <link rel="stylesheet" href="css/main.css">
  
  </head>

  <body>
  
    <header>
      <div class="site-title">
        The Byterium Blog
      </div>
      <nav>
        <a href="/">Home</a>
        <a href="/archive">Archive</a>
      </nav>
    </header>
  
    <main>
      {% block main %}{% endblock %}
    </main>
  
    <footer>©{{year}} - Joe Kriefall</footer>
  
  </body>

</html>
