{% extends "base.njk" %}

{% block main %}

<div class="post-cards">
  {% for post in posts %}
  <a class="post-card" href="{{ post.slug }}">
    <div class="post-card-title">{{ post.title }}</div>
    <div class="post-card-preview">{{ post.preview }}</div>
  </a>
  {% endfor %}
</div>

{% endblock %}
